/*
 Theme Name:     Rogier Lankhorst Custom theme
 Description:    custom theme from rogierlankhorst.com
 Author:         Rogier Lankhorst
 Author URI:     http://www.rogierlankhorst.com
 Version:        1.0.0
*/

@import "assets/css/style.css";

h2.comments-header, h2#comments-header {
	font-size: 18px;
}

.page-content ol {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
.page-content ol > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 2em;
    border-left: 2px solid #1DCE6C;
}
.page-content ol > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;
     
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color:  #1DCE6C;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}
/* #### bootstrap Form #### */
form {
    width: 400px;
    margin:30px auto;


    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    text-shadow: 1px 1px 1px #c0c0c0;
    border:1px solid #c6c6c6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
form h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
form h1>span {
    display: block;
    font-size: 11px;
}
form label {
    display: block;
    margin: 0px 0px 5px;
}
form label>span {
    
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
form input[type="text"], form input[type="email"], form textarea, form select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    height:30px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
form select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}
form textarea {
    height:100px;
}
form textarea:focus, form input:focus {
	border: 2px solid #900;
}

.clear {clear:both;}

.cl-blog-img {
display: block;
}
.cl-blog-text {width:90%;}
.grid figcaption span:before {
content: '';
}
.pride_pg {float:right;}
.page-numbers li {
	display:inline;
}

.logo {
margin-top: 13px;
margin-bottom: 13px;
}
input, textarea{
border: 1px solid #ddd;
}
.fa-twitter:before {
	content: "";
}
.portfolio-main figure img {
	width:inherit;
	height:inherit;
}
.sft {
	background-color: rgba(51, 51, 51, 0.4);
	padding:10px;
	border:1px dotted white;
}